<div *ngIf="character" class="character-container d-flex align-items-center">
  <div class="character-icon">
    <div class="experience-circle d-flex flex-column justify-content-center align-items-center">
      <span class="experience-label">Exp</span>
      <span class="experience-text">{{ character.experience }}%</span>
    </div>
    <p class="text-center mt-2">Level: {{ character.level }}</p>
  </div>
  <div class="character-attributes ms-3 flex-grow-1">
    <div class="attribute-bar" style="background-color: #e63900;">
      <span class="attribute-label">VIT: {{ character.hitPoints }}</span>
    </div>
    <div class="attribute-bar" style="background-color: #41a47b;">
      <span class="attribute-label">FOR: {{ character.strenght }}</span>
    </div>
    <div class="attribute-bar" style="background-color: #007bff;">
      <span class="attribute-label">DEF: {{ character.defense }}</span>
    </div>
    <div class="attribute-bar" style="background-color: #ffc107;">
      <span class="attribute-label">INT: {{ character.intelligence }}</span>
    </div>
  </div>
</div>
