.character-container {
  display: flex;
  align-items: center;
  width: 100%; /* Para garantir que a barra ocupe a largura total */
  padding: 20px; /* Para dar um pouco de espaçamento interno */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
  background-color: #f8f9fa; /* Cor de fundo da tela */
}

.character-icon {
  text-align: center;
}

.character-attributes {
  margin-left: 20px; /* Espaçamento entre a imagem e os atributos */
  flex-grow: 1; /* Para que essa área ocupe o restante do espaço disponível */
}

.attribute-bar {
  width: 100%; /* Para ocupar toda a largura disponível */
  height: 25px; /* Altura das barras reduzida */
  display: flex;
  align-items: center; /* Centraliza verticalmente o texto */
  justify-content: center; /* Centraliza horizontalmente o texto */
  border-radius: 5px; /* Arredondamento das bordas */
  color: white; /* Cor do texto */
  font-weight: bold; /* Negrito */
  margin-bottom: 8px; /* Espaçamento entre as barras */
  position: relative; /* Para o texto ficar dentro da barra */
}

.attribute-label {
  position: absolute; /* Para centralizar o texto dentro da barra */
  left: 50%; /* Move para o meio */
  transform: translateX(-50%); /* Centraliza o texto */
}
