@import './../../../../../assets/styles/sass/abstracts/variables';
:root {
    --background-color: $tertiary-color; 
    --text-color: #212529; 
  }
  
  body {
    background-color: $tertiary-color;
    color: var(--text-color);
  }
  
  .card {
    background-color: #fff; 
    border-radius: 15px;
  }
  
  .card-header {
    background-color: $quinary-color !important; 
    color: white; 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  h4 {
    font-weight: bold; 
  }
  
  .form-control {
    border: 1px solid #ced4da; 
  }
  
  .btn-primary {
    background-color: $tertiary-color; 
    border-color: $tertiary-color;
  }
  
  .btn-primary:hover {
    background-color: $senary-color; 
  }
  
  .text-primary {
    color: $tertiary-color !important; 
  }
  
  .text-primary:hover {
    color: $senary-color; 
  }
  