<div class="container d-flex align-items-center justify-content-center vh-100" style="margin-top: -50px;">
  <div class="card shadow" style="width: 400px;">
    <div class="card-header text-center bg-primary text-white">
      <h4 class="mb-0">Registrar-se</h4>
    </div>
    <div class="card-body">
      <form (ngSubmit)="onRegister()">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input 
            type="text" 
            id="username" 
            class="form-control" 
            [(ngModel)]="username" 
            name="username" 
            required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input 
            type="password" 
            id="password" 
            class="form-control" 
            [(ngModel)]="password" 
            name="password" 
            required>
        </div>

        <div class="text-center mt-4">
          <button type="submit" class="btn btn-primary">Registrar</button>
        </div>

        <div class="text-center mt-3">
          <p class="mb-0">Já tem uma conta? <a routerLink="/login" class="text-primary">Login</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
